<div class="content-fit login mainform">
    <div class="login-intro">
      <strong>LOG IN</strong>
      Please enter your e-mail and password
    </div>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

    
    
      <div class="email">
        <input type="email" name="customer[email]" placeholder="YOUR EMAIL ADDRESS">
      </div>
    
      <div class="password">
        <input type="password" name="customer[password]" placeholder="PASSWORD">
      </div>
    
      <div class="submit">
        <input type="submit" value="LOGIN">
      </div>

      <div class="login-create">
        Don't have an account?  <a href="/account/register">Create one</a>
      </div>

    {% endform %}
    {% comment %} <button class="recover-button">
      FORGOT PASSWORD?
    </button> {% endcomment %}
  {% comment %} <p><a href="/account/reset_password">Forgot your password? Reset it here.</a></p> {% endcomment %}
  {% comment %} 
    {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email">
      </div>

      <div class="submit">
        <input type="submit" value="Submit">
      </div>
    {% endform %} {% endcomment %}

  </div>
