<div class="content-fit login mainform">
    <strong>LOG IN</strong>
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

    
    
      <div class="email">
        <input type="email" name="customer[email]" placeholder="EMAIL ADDRESS">
      </div>
    
      <div class="password">
        <input type="password" name="customer[password]" placeholder="PASSWORD">
      </div>
    
      <div class="submit">
        <input type="submit" value="ENTER">
      </div>
    {% endform %}
    <a href="/account/register">Create an account</a>
    <p>STORE YOUR ADDRESSES AND MANAGE PERSONAL INFORMATION FOR A FASTER CHECKOUT EXPERIENCE</p>
  {% comment %} <p><a href="/account/reset_password">Forgot your password? Reset it here.</a></p> {% endcomment %}
</div>
