<!-- recover.liquid -->
  <div class="recover-page content-fit">
    <h2>Password Recovery</h2>

    {% if request.post %}
      {% if request.errors %}
        <p class="error">{{ request.errors | join: '<br>' }}</p>
      {% else %}
        <p class="success">An email with instructions to reset your password has been sent.</p>
      {% endif %}
    {% endif %}

    <form method="post" action="/account/recover" id="recover_form">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required>

      <button type="submit">Reset Password</button>
    </form>
  </div>
