{% comment %} <div class="home" style="background-image: url();">
    {%- assign img_url = settings.homepage_img | image_url: master -%}
    {%- assign img_url_mobile = settings.homepage_img_mobile | image_url: master -%}
    <img class="home-desktop" src="{{img_url}}">
    <img class="home-mobile" src="{{img_url_mobile}}">
</div> {% endcomment %}
<div class="coming notfound">
  <div class="content-fit">
    <h3>404 - PAGE NOT FOUND</h3>
    <p><a href="/">Return to the homepage</a> </p>
  </div>
</div>