<div class="home" style="background-image: url();">

{% comment %} <img src="{{ settings.homepage_img | image_url }}"> {% endcomment %}


<div class="image-container">
    <img src="https://static.todamateria.com.br/upload/so/me/someeanyimagemdani-cke.jpg" alt="">
    <img src="https://prettylittlememoirs.com/wp-content/uploads/2021/01/55198928.jpg" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTMLQTzwEElmsPWLWq8eUtlT8XlX_km9i7LA&usqp=CAU" alt="">
    <img src="https://m.media-amazon.com/images/M/MV5BYzU1NDFhMDUtMThkYS00ODRlLTg1MmEtYWMzMTNhZDg1ZjFjXkEyXkFqcGdeQXVyMTY5Nzc4MDY@._V1_.jpg" alt="">
    <img src="https://balmyquotes.com/wp-content/uploads/2023/08/SOME-PEOPLE-NEVER-CHANGE-7.png" alt="">
</div>
<div class="image-container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTMLQTzwEElmsPWLWq8eUtlT8XlX_km9i7LA&usqp=CAU" alt="">
    <img src="https://m.media-amazon.com/images/M/MV5BYzU1NDFhMDUtMThkYS00ODRlLTg1MmEtYWMzMTNhZDg1ZjFjXkEyXkFqcGdeQXVyMTY5Nzc4MDY@._V1_.jpg" alt="">
    <img src="https://prettylittlememoirs.com/wp-content/uploads/2021/01/55198928.jpg" alt="">
    <img src="https://static.todamateria.com.br/upload/so/me/someeanyimagemdani-cke.jpg" alt="">
</div>


</div>
