<div class="collections">

  <div class="content-fit">
  <div class="image-container">
    {% assign array_images = page.metafields.custom.images.value %}
    {% if array_images %}
      {% for image in array_images %}
        {% if image.alt %}          
          <a href="{{ image.alt }}">
        {% else %}              
          <a>
        {% endif %}
            <img src="{{ image | image_url: height: 800 }}">
          </a>
      {% endfor %}
    {% endif %}
  </div>


  </div>    
</div>