<div id="content" class="page">
    <div class="content-collection-fit">
        <br>
        <br>
        <strong>
            {{ page.title }}
        </strong>
        <br>
        <br>
     {{ page.content }}
    </div>
</div>