<div id="content" class="page">
    <div class="content-fit">
        <div class="page-content">
            {% comment %} <strong class="page-title" {% if template == 'page' and page.handle == 'stockists' %}style="text-align: center;"{% endif %}>
                {{ page.title }}
            </strong> {% endcomment %}
            <div class="page-text">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>